html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='description', content='Some description')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
	body
		div.container
			h3 Lab 7: MySQL & Node.js 
			p  
			hr
			p
				a.btn.btn-primary(href='/add') Add New Student
	
			form(action='' method="GET")
				.form-group
					label(for="post_title") Search
					input#post_id.form-control(type='text' name='id' placeholder='SEARCH')
					br
					input.btn.btn-primary(type="submit" value="SEARCH") 
			table.table.table-bordered
				tr
					th.text-center(width='5%') student_id
					th.text-left(width='35%') course_id 
					th.text-left(width='5%') section_id
					th.text-left(width='35%') semester
					th.text-left(width='5%') year
					th.text-left(width='5%') grade
					th.text-left(width='5%') edit 
					th.text-left(width='5%') delete
				for s in student 
					tr
						td=s.student_id
						td=s.cid
						td=s.sect_id
						td=s.semester
						td=s.year 
						td=s.grade
						td
							a.btn.btn-warning(href='edit/' + s.student_id) Edit
						td
							a.btn.btn-danger(href='delete/' + s.student_id) Delete

